header {
    display: flex;
    justify-content: space-between;
    background-color: #F2D7D9;
    border-bottom: 10px solid #748DA6;
    padding: 10px 20px;
    align-items: center;
}

nav {
   text-align: right; 
}

#Sigla {
    display: inline;
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0px #000;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    color: yellow;
    background-color: #748DA6;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #9CB4CC;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: transform 300ms linear, opacity 200ms ease-in-out, box-shadow 200ms linear;
}

#button:hover {
    transform: translateX(5px);
    box-shadow: 0px 0px 10px black;
    opacity: 0.9;
}

